<div class="container">
  <h1>Angular Pipes !</h1>
  <!-- <p>
    {{e | number:'1.1-5'}}
  </p>

  <p>
    {{ str | uppercase | lowercase | titlecase }}
  </p>

  <p>
    {{ slice | titlecase | slice:0:-1 }}
  </p>
  <br>
  <p>
    <span>Time:</span>
    <br>
    {{ date | date }}
    <br>
    {{ date | date:'fullDate' }}
    <br>
    {{ date | date:'long' }}
    <br>
    {{ date | date:'yyyy' }}
    <br>
    {{ date | date:'dd MMMM yyy, HH:mm:ss' }}
  </p> -->

  <p>
    <span>float</span>
    {{float}}
    <br>
    {{float | currency}}
    <br>
    {{float | percent:'2.0-0'}}
  </p>

  <pre>{{obj | json}}</pre>
  <br>
</div>