<div class="container">
  <h1>Angular Pipes !</h1>
  <!-- <p>
    {{e | number:'1.1-5'}}
  </p>

  <p>
    {{ str | uppercase | lowercase | titlecase }}
  </p>

  <p>
    {{ slice | titlecase | slice:0:-1 }}
  </p>
  <br>
  <p>
    <span>Time:</span>
    <br>
    {{ date | date }}
    <br>
    {{ date | date:'fullDate' }}
    <br>
    {{ date | date:'long' }}
    <br>
    {{ date | date:'yyyy' }}
    <br>
    {{ date | date:'dd MMMM yyy, HH:mm:ss' }}
  </p> -->


  <!-- <p>
    <span>float</span>
    {{float}}
    <br>
    {{float | currency}}
    <br>
    {{float | percent:'2.0-0'}}
  </p>

  <pre>{{obj | json}}</pre> 
  <br> -->


  <div>
    <h2>Castom pipes</h2>

    <!-- <div>
      <p>{{ 10 | mult}}</p>
      <p>{{ 10 | mult:2}}</p>
      <p>{{ 10 | mult:3}}</p>
      <p>{{ 10 | mult:5}}</p>
      <p>{{ 10 | mult:8}}</p>
      <p>{{ 10 | mult:13}}</p>
      <br>
      <br>
      <p>{{'Hello World ' | exMarks}}</p>
    </div> -->

    <hr>
    <!-- <div>

      <button class="btn" (click)="searchField = 'title'">Title</button>
      <button class="btn" (click)="searchField = 'text'">Text</button>

      <hr>

      <button class="btn" (click)="addPost()">Новый пост</button>

      <input type="text" [(ngModel)]="search">
      <div *ngFor="let post of posts | filter:search:searchField"
       class="card">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
      </div>
    </div> -->
  </div>

  <div>
    <h2>Async</h2>

    <p>Wait for it... {{p | async}} </p>

    <!--  Вариант с использованием пайпа async -->
    <p>Date: {{ date$ | async | date: 'HH:mm:ss yyyy'}}</p>

    <!-- Вариант без использования пайпа async  -->
    <p> {{date | date:'HH:mm:ss'}} </p>

  </div>


</div>